{%extends 'base.html'%} {%block network_update%} {% load crispy_forms_tags %}
<div class="container card col-8">
  <form action="" method="POST">
    {%csrf_token%}
    <br />
    <div class="row">
      <div class="col-md-4">{{form.hostname|as_crispy_field}}</div>
      <div class="col-md-4">{{form.pid|as_crispy_field}}</div>
      <div class="col-md-4">{{form.sn|as_crispy_field}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{form.interface_type|as_crispy_field}}</div>
      <div class="col-md-6">{{form.network_type|as_crispy_field}}</div>
    </div>
    <br />
    <div class="row">
      <dvi class="col-sm-12" align="right">
        <button type="submit" class="btn-sm btn-success btn-icon-split">
          <span class="text">Confirm</span>
        </button>
        <button class="btn-sm btn-secondary">
          <a href="/network_device/" style="color: white">Back</a>
        </button>
      </dvi>
    </div>
    <br />
  </form>
</div>
{%endblock%}
