{%extends 'base.html'%} {%block network_header%}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Network</h1>
  <a
    href="/network_device/new"
    id="new-network"
    class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"
    style="margin-left: 900px"
    >new</a
  >
</div>
{%endblock%} {%block network_device%}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Network</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        id="dataTable"
        class="table table-striped table-bordered"
        style="width: 100; font-size: 15px%"
      >
        <thead>
          <tr align="center">
            <th>Hostname</th>
            <th>PID</th>
            <th>SN</th>
            <th>Interface Type</th>
            <th>Network_type</th>
            <th>Generate interface</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tfoot>
          <tr align="center">
            <th>Hostname</th>
            <th>PID</th>
            <th>SN</th>
            <th>Interface Type</th>
            <th>Network_type</th>
            <th>Generate interface</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </tfoot>
        <tbody>
          {%for i in data_network %}
          <tr>
            <td>{{i.hostname}}</td>
            <td>{{i.pid}}</td>
            <td>{{i.sn}}</td>
            <td>{{i.interface_type.interface_type}}</td>
            <td>{{i.network_type.network_type}}</td>
            <td align="center">
              <a class="w3-button" href="/network_generate/{{i.id}}"
                ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                Generate</a
              >
            </td>
            <td align="center">
              <a class="w3-button" href="/network_update/{{i.id}}"
                ><i class="fa fa-pencil-square" aria-hidden="true"></i> edit</a
              >
            </td>
            <td align="center">
              <a
                class="w3-button"
                id="delete"
                href="/network_device/delete/{{i.id}}"
                >delete</a
              >
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%endblock%}
