{% extends 'base.html' %} {% block header %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Sub Interface Configurations</h1>
  <a
    href="{% url 'sub_interface-create' %}"
    class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"
    style="margin-left: 970px"
    >new</a
  >
</div>
{%endblock%} {% block router_list %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Sub Interface List</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size: 15px"
      >
        <thead>
          <tr align="center">
            <th>Interface</th>
            <th>Sub Number</th>
            <th>VLAN</th>
            <th>Address</th>
            <th>Group</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr align="center">
            <th>Interface</th>
            <th>Sub Number</th>
            <th>VLAN</th>
            <th>Address</th>
            <th>Group</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {%for i in sub_interface %}
          <tr align="center">
            <td>{{i.interface}}</td>
            <td>{{i.sub_interface}}</td>
            <td>{{i.vlan}}</td>
            <td>{{i.address}}</td>
            <td>{{i.group_intertrunk}}</td>
            <td align="center">
              <a class="btn btn-info" href="{% url 'sub_interface-edit' i.id %}"
                >edit</a
              >
              <a
                class="btn btn-warning"
                href="{% url 'sub_interface-delete' i.id %}"
                >delete</a
              >
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
