{% extends 'base.html'%} {%block router_list%}{% load crispy_forms_tags %}
<div class="container card col">
  <br />
  <div class="sidebar-heading"><b>HSRP Configurations</b></div>
  <br />
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">{{hsrp.interface|as_crispy_field}}</div>
      <div class="col-md-4">{{hsrp.standby_number|as_crispy_field}}</div>
      <div class="col-md-4">{{hsrp.vip|as_crispy_field}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">{{hsrp.priority|as_crispy_field}}</div>
    </div>
    <br />
    <div class="row">
      <dvi class="col-sm-12" align="right">
        <button type="submit" class="btn btn-success">submit</button>
        <a href="{% url 'hsrp-list' %}" class="btn btn-secondary">back</a>
      </dvi>
    </div>
  </form>
  <br />
</div>
{%endblock%}
