{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Software Defined Network</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
    />
    <!-- Custom fonts for this template-->
    <link
      href="{% static 'template_admin/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{% static 'template_admin/css/sb-admin-2.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this page -->
    <link
      href="{% static 'template_admin/vendor/datatables/dataTables.bootstrap4.min.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .from-manage {
        margin-left: 370px;
        margin-top: 50px;
        width: 500px;
        height: auto;
        background-color: white;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
      }
      .bg-modal {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        position: absolute;
        top: 0;
        margin-left: 560px;
        margin-top: 160px;
        display: none;
      }
      .modal-content {
        width: 500px;
        height: auto;
        background-color: white;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
      }
      .close-new {
        text-align: right;
        font-size: 20px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-left: 430px;
        transform: rotate(90deg);
      }
    </style>
  </head>
  <body id="page-top">
    <!-- Pre-loader start -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
        >
          <div class="sidebar-brand-icon rotate-n-15"></div>
          <div class="sidebar-brand-text mx-3" style="font-size: 13px">
            Software Defined Network
          </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fa fa-tv fa-tachometer-alt"></i>
            <span>Monitor</span></a
          >
        </li>
        <div class="row"></div>
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Management</div>
        <!-- Nav Item - Device Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
            style="cursor: pointer"
          >
            <i class="fas fa-fw fa-cog" style="cursor: pointer"></i>
            <span style="cursor: pointer">Device</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Device:</h6>
              <a
                class="collapse-item"
                href="/iot_device"
                style="cursor: pointer"
                >IoT Device</a
              >
              <a
                class="collapse-item"
                href="/network_device"
                style="cursor: pointer"
                >Network Device</a
              >
              <a class="collapse-item" href="/profile/" style="cursor: pointer"
                >Profile</a
              >
            </div>
          </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-toggle="collapse"
            data-target="#collapseUtilities"
            aria-expanded="true"
            aria-controls="collapseUtilities"
            style="cursor: pointer"
          >
            <i class="fas fa-fw fa-wrench" style="cursor: pointer"></i>
            <span style="cursor: pointer">Configuration</span>
          </a>
          <div
            id="collapseUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Utilities:</h6>
              <a
                onclick="myAccFunc1()"
                href="javascript:void(0)"
                class="collapse-item w3-button w3-left-align"
                id="myBtn"
              >
                <i class="fas fa-fw fa-cog"></i>
                <span>Group Router</span>
              </a>
              <div
                id="demoAcc1"
                class="w3-bar-block w3-hide w3-padding-large w3-small"
              >
                <a href="/group_dhcp/" class="collapse-item">Group DHCP</a>
                <a href="/group_routing/" class="collapse-item"
                  >Group Routing</a
                >
                <a href="/group_access_list/" class="collapse-item"
                  >Group Access Lists</a
                >
                <a href="/group_sub_interface/" class="collapse-item"
                  >Group Sub-Interface</a
                >
              </div>
              <a
                onclick="myAccFunc2()"
                href="javascript:void(0)"
                class="collapse-item w3-button w3-left-align"
                id="myBtn"
              >
                <i class="fas fa-fw fa-cog"></i>
                <span>Group Switch</span>
              </a>
              <div
                id="demoAcc2"
                class="w3-bar-block w3-hide w3-padding-large w3-small"
              >
                <a href="/group_vlan/" class="collapse-item">Group VLAN</a>
                <a href="/group_switch_port/" class="collapse-item"
                  >Group Switch Port</a
                >
                <a href="/group_port_channel/" class="collapse-item"
                  >Group Port Channel</a
                >
              </div>
              <a
                onclick="myAccFunc3()"
                href="javascript:void(0)"
                class="collapse-item w3-button w3-left-align"
                id="myBtn"
              >
                <i class="fas fa-fw fa-cog"></i>
                <span>Router</span>
              </a>
              <div
                id="demoAcc3"
                class="w3-bar-block w3-hide w3-padding-large w3-small"
              >
                <a href="{% url 'dhcp-list' %}" class="collapse-item">DHCP</a>
                <a href="{% url 'hsrp-list' %}" class="collapse-item">HSRP</a>
                <a href="{% url 'sub_interface-list' %}" class="collapse-item"
                  >Sub Interface</a
                >
              </div>
              <a
                onclick="switch1()"
                href="javascript:void(0)"
                class="collapse-item w3-button w3-left-align"
                id="myBtn"
              >
                <i class="fas fa-fw fa-cog"></i>
                <span>Switch</span>
              </a>
              <div
                id="switchAcc1"
                class="w3-bar-block w3-hide w3-padding-large w3-small"
              >
                <a href="{% url 'switchport-list' %}" class="collapse-item"
                  >SwitchPort</a
                >
                <a href="{% url 'etherchannel-list' %}" class="collapse-item"
                  >EtherChannel</a
                >
              </div>
              <a
                onclick="myAccFunc4()"
                href="javascript:void(0)"
                class="collapse-item w3-button w3-left-align"
                id="myBtn"
              >
                <i class="fas fa-fw fa-cog"></i>
                <span>Routing</span>
              </a>
              <div
                id="demoAcc4"
                class="w3-bar-block w3-hide w3-padding-large w3-small"
              >
                <a href="{% url 'static-list' %}" class="collapse-item"
                  >Static</a
                >
                <a href="{% url 'eigrp-list' %}" class="collapse-item">EIGRP</a>
              </div>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="
              navbar navbar-expand navbar-light
              bg-white
              topbar
              mb-4
              static-top
              shadow
            "
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form
              class="
                d-none d-sm-inline-block
                form-inline
                mr-auto
                ml-md-3
                my-2 my-md-0
                mw-100
                navbar-search
              "
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="
                    dropdown-menu dropdown-menu-right
                    p-3
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  id="alertsDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div
                  class="
                    dropdown-list dropdown-menu dropdown-menu-right
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="alertsDropdown"
                >
                  <h6 class="dropdown-header">Alerts Center</h6>
                  <a class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 12, 2019</div>
                      <span class="font-weight-bold"
                        >A new monthly report is ready to download!</span
                      >
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-donate text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 7, 2019</div>
                      $290.29 has been deposited into your account!
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                      <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 2, 2019</div>
                      Spending Alert: We've noticed unusually high spending for
                      your account.
                    </div>
                  </a>
                  <a class="dropdown-item text-center small text-gray-500"
                    >Show All Alerts</a
                  >
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>
              <!-- Nav Item - Admin Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="/admin">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >Admin</span
                  >
                </a>
              </li>
              <div class="topbar-divider d-none d-sm-block"></div>
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >Pongsatorn Arakkit</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="{% static 'template_admin/img/patch2.jpg' %}"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="
                    dropdown-menu dropdown-menu-right
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- Begin Header Content -->
          <div class="container-fluid">{%block header%} {%endblock%}</div>
          <!-- End of Topbar -->
          <!-- Begin iot_table Content -->
          <div class="container-fluid">
            <div class="row">{%block dashbord%} {%endblock%}</div>
          </div>
          <!-- Begin group Content -->
          <div class="container-fluid">
            <div class="row">
              {%block group_dhcp%} {%endblock%}{%block group_dhcp_edit%}
              {%endblock%}
            </div>
          </div>
          <!-- Begin Router Config Content -->
          <div class="container-fluid">{%block router_list%} {%endblock%}</div>
          <div class="container-fluid">{%block switch_list%} {%endblock%}</div>
          <!-- Begin iot_table Content -->
          <div class="container-fluid">
            {%block iot_header%} {%endblock%} {%block iot_table%} {%endblock%}
          </div>
          <div class="container-fluid">{%block iot_update%} {%endblock%}</div>
          <div class="container-fluid">{%block config%} {%endblock%}</div>

          <!-- Begin network_table Content -->
          <div class="container-fluid">
            {%block network_header%} {%endblock%} {%block network_device%}
            {%endblock%}
          </div>
          <div class="container-fluid">
            {%block network_update%} {%endblock%}
          </div>
          <div class="container-fluid">
            {%block network_device_new%} {%endblock%}
          </div>

          <!-- Begin profile_table Content -->
          <div class="container-fluid">
            {%block profile_header%} {%endblock%} {%block profile_list%}
            {%endblock%}
          </div>
          <div class="container-fluid">
            <div class="row">{%block profile_new%} {%endblock%}</div>
          </div>
          <div class="container-fluid">
            <div class="row">{%block profile_update%} {%endblock%}</div>
          </div>
          <!-- Begin Deploy Content -->
          <div class="container-fluid">{%block deploy%} {%endblock%}</div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Software Defined Network</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a
      class="scroll-to-top rounded"
      href="{% static 'template_admin/#page-top'%}"
    >
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a
              class="btn btn-primary"
              href="{% static 'template_admin/login.html' %}"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--begin Popup new Modal -->
    <div class="bg-modal">{%block iot_popup%} {%endblock%}</div>
    <!-- End Popup new Modal -->
    <!-- Bootstrap core JavaScript-->
    {% comment %}
    <script src="{% static 'template_admin/vendor/jquery/jquery.min.js' %}"></script>
    {% endcomment %}
    <script src="{% static 'template_admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'template_admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'template_admin/js/sb-admin-2.min.js' %}"></script>
    <!-- Page level plugins -->
    {% comment %}
    <script src="{% static 'template_admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'template_admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    {% endcomment %} {% comment %}
    <script src="{% static 'template_admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'template_admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    {% endcomment %} {% comment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endcomment %}
    <!-- Page level custom scripts -->
    {% comment %}
    <script src="{% static 'template_admin/js/demo/datatables-demo.js' %}"></script>
    {% endcomment %}
    <script>
      $(document).ready(function () {
        $("#dataTable").DataTable();
      });
      var newclick = document.getElementById("new");
      if (newclick) {
        newclick.addEventListener("click", function () {
          document.querySelector(".bg-modal").style.display = "flex";
        });
      }
      var closenew = document.querySelector(".close-new");
      if (closenew) {
        closenew.addEventListener("click", function () {
          document.querySelector(".bg-modal").style.display = "none";
        });
      }
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
      // Accordion
      function myAccFunc1() {
        var x = document.getElementById("demoAcc1");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
      function myAccFunc2() {
        var x = document.getElementById("demoAcc2");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
      function myAccFunc3() {
        var x = document.getElementById("demoAcc3");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
      function myAccFunc4() {
        var x = document.getElementById("demoAcc4");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
      function switch1() {
        var x = document.getElementById("switchAcc1");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }

      // Click on the "Jeans" link on page load to open the accordion for demo purposes
      document.getElementById("myBtn").click();

      // Open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>
  </body>
</html>
