<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    .w3-sidebar a {
      font-family: "Roboto", sans-serif;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .w3-wide {
      font-family: "Montserrat", sans-serif;
    }
  </style>

  <body class="w3-content" style="max-width: 1200px">
    <!-- Sidebar/menu -->
    <nav
      class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top"
      style="z-index: 3; width: 250px"
      id="mySidebar"
    >
      <a
        onclick="myAccFunc()"
        href="javascript:void(0)"
        class="w3-button w3-block w3-white w3-left-align"
        id="myBtn"
      >
        ssss <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="#" class="w3-bar-item w3-button w3-light-grey"
          ><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a
        >
        <a href="#" class="w3-bar-item w3-button">Relaxed</a>
        <a href="#" class="w3-bar-item w3-button">Bootcut</a>
        <a href="#" class="w3-bar-item w3-button">Straight</a>
      </div>
      <a href="#" class="w3-bar-item w3-button">Jackets</a>
      <a href="#" class="w3-bar-item w3-button">Gymwear</a>
      <a href="#" class="w3-bar-item w3-button">Blazers</a>
      <a href="#" class="w3-bar-item w3-button">Shoes</a>

      <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
      <a
        href="javascript:void(0)"
        class="w3-bar-item w3-button w3-padding"
        onclick="document.getElementById('newsletter').style.display='block'"
        >Newsletter</a
      >
      <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
    </nav>
    <script>
      // Accordion
      function myAccFunc() {
        var x = document.getElementById("demoAcc");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }

      // Click on the "Jeans" link on page load to open the accordion for demo purposes
      document.getElementById("myBtn").click();

      // Open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>
  </body>
</html>
