{%extends 'base.html'%}{%block profile_new%} {% load crispy_forms_tags %}
<div class="container card col-10">
  <form action="" method="POST">
    {%csrf_token%}
    <br />
    <div class="row">
      <div class="col-md-4">{{iot.mac|as_crispy_field}}</div>
      <div class="col-md-4">{{iot.topic|as_crispy_field}}</div>
      <div class="col-md-4">{{iot.subscribe|as_crispy_field}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">{{iot.room|as_crispy_field}}</div>
      <div class="col-md-4">{{iot.profile|as_crispy_field}}</div>
      <div class="col-md-4">{{iot.network|as_crispy_field}}</div>
    </div>
    <br />
    <div class="row">
      <dvi class="col-sm-12" align="right">
        <button type="submit" class="btn-sm btn-success btn-icon-split">
          <span class="text">Confirm</span>
        </button>
        <button class="btn-sm btn-secondary">
          <a href="/iot_device/" style="color: white">Back</a>
        </button>
      </dvi>
    </div>
    <br />
  </form>
</div>
{%endblock%}
